/*
prel färgtema
#E89D48
#FF7342
#E07980


Kanske även ngt blått som matchar möblerna: typ #46BDA7 */

@media screen and (max-width: 600px){
    #container{
        display: grid;
        grid-template-areas:
        'mn'
        's1'
        's2'
        's3'
        's4'
        'ft';
        grid-template-rows: 100vh  100vh  100vh  100vh 100vh 40vh ;
        grid-template-columns: 100vw;
    }

    .img{
        height: 50%;
    }
   

    
}

@media screen and (min-width: 601px){
    #container{
        display: grid;
        grid-template-areas:
        'mn mn'
        's1 s1'
        's2 s2'
        's3 s3'
        's4 s4'
        'ft ft';
        grid-template-rows: 100vh  50vh  50vh  50vh 50vh 40vh ;
        grid-template-columns: 100vw;
    }

    .sec_index{
        display: grid;
        grid-template-areas: 
        'left right';
        grid-template-columns: 50vw 50vw
    }

    .right{
        grid-area: right;
    }

    .left{
        grid-area: left;
    }

    .historia.img{
        background-image: url(../img/IMG_05721.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        
    }

    .sec_subpage article{
        margin: 2vw 25vw 2vw 25vw ;
        background: white;
        padding: 5vw
        
    }


}


/*INDEX PAGE OCH GEMENSAMMA TAGGAR*/

.slideshow-container {
    height: 100%;
    width: auto;
    position: relative;
    margin: auto;
  }

header{
    position: fixed;
    width: 100vw;
    height: 70px;
    background: rgba(255, 255, 255, 0.26);
    top: 0;
    font-family: 'sail' ;
    text-align: center;
    display: flex; 
    align-content: flex-end;
    z-index: 0;

}

.menu_button{
    color: white
}

h1{
    color: white;
}

main{
    grid-area: mn;
    background-color: #E89D48;
    z-index: -1;

}

.sec_index{
    /*padding: 30px;*/
    text-align: center;
    font-family: 'Raleway' ;
    
}
article{
    margin: 30px;
}

 .button_index{
    background-color: white;
    width: 150px;
    height: 40px;
    margin: 40px;
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-family: 'raleway';
    color: black;
    font-size: 20px;
    text-decoration-color: black;
    
    
}

a {
    text-decoration: none;
    color: black;
}


.historia {
    grid-area: s1;
    background-color: rgb(253, 132, 87);
   
}



.mat{
    grid-area: s2;
    background: #E07980
}

.hitta{
    grid-area: s3;
    background: rgb(88, 190, 172);
}

.kontakt{
    grid-area: s4;
    background-color: green;
}

footer{
    grid-area: ft;
    background-color: gray
}



img{
    max-width: 100%;
}

.historia .img{
    background-image: url(../img/20200308_120151.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.mat .img{
    background-image: url(../img/varmat.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.hitta .img{
    background-image: url(../img/andrummap.png);
    background-repeat: no-repeat;
    background-size: cover;

}




.google_map{
    
}


/*SUBPAGES*/

.subpage_container{
    display: grid;
    grid-template-areas:
    'pic'
    'sec'
    'ft';
    grid-template-rows: 50vh  auto  40vh ;
    grid-template-columns: 100vw;
}

.head_subpage{
    grid-area: pic;
}

.sec_subpage{    /* section på undersidorna  */
    grid-area: sec;
    background: green;
}


/*#slideshow{
    animation:fading 7s infinite;
    width: 100%
}
    

    @keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
